<form [formGroup]="form" (submit)="saveChanges()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput [formControl]="form.controls.name">
        <mat-error>{{getNameError()}}</mat-error>
    </mat-form-field>
    <div class="button-container">
        <button mat-flat-button type="submit" [disabled]="form.invalid">Guardar</button>
        <a mat-stroked-button routerLink="/actores">Cancelar</a>
    </div>
    <app-map (selectCord)="selectCord($event)" [startingCords]="startingCords"></app-map>
</form>

